$mainPurpleColor: #92098b;
$backgroundColor: #2e2e2e;

.App {
    box-sizing: border-box;
    margin: 0;
    background-color: $backgroundColor;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 10% 85%;
    font-family: sans-serif;

    > .nav {
        grid-column: 1 / span 2;
        grid-row: 1/1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 2em;
        font-weight: 800;
        font-size: 2em;
        color: #eeeeee;
        letter-spacing: 2px;
        background-color: darken($backgroundColor, 5%);

        > .secondary {
            color: $mainPurpleColor;
            padding: 0 2px;
        }
    }

    > .left-panel {
        grid-column: 1/1;
        grid-row: 2/2;
        border-right: 1px solid #2e2e2e;
        padding: 0 40px;
        gap: 0.5em;
        display: flex;
        flex-direction: column;
        gap: 2em;
        > .search-panel {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.25em;
            margin-top: 40px;

            > .label {
                color: #eeeeee;
                font-size: 1.5em;
                font-weight: 700;
            }
            > .change-button {
                padding: 0.3em 0.5em;
                color: white;
                background-color: $mainPurpleColor;
                border: 1px solid darken($mainPurpleColor, 10%);
                font-size: 1.5em;
                border-radius: 4px;
                cursor: pointer;
                opacity: 0.8;

                &:hover {
                    opacity: 1;
                }
                &.active {
                    background-color: #6b11a7;
                    border: 1px solid #7012af;
                    opacity: 1;
                }
            }
        }
        > .search-form {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 0.5em;

            > .input-wrapper {
                display: flex;
                align-items: center;
                flex-direction: row;
                margin-top: 20px;
                gap: 0.5em;

                > .label {
                    color: #eeeeee;
                    font-size: 1.5em;
                    font-weight: 700;
                    width: 100px;
                }

                > input {
                    height: 32px;
                    border: none;
                    border-radius: 4px;
                    width: 300px;
                }

                > .select {
                    width: 300px;
                }
            }
        }
        > .search-button {
            padding: 0.3em 0.5em;
            color: white;
            background-color: $mainPurpleColor;
            border: 1px solid darken($mainPurpleColor, 10%);
            font-size: 1.5em;
            border-radius: 4px;
            cursor: pointer;
            opacity: 0.8;
            width: 30%;

            &:hover {
                opacity: 1;
            }
        }
        > .warning {
            background: #921515;
            color: #eeeeee;
            font-weight: 600;
            padding: 10px;
            border-radius: 8px;
        }
        > .top-anime {
            display: flex;
            flex-direction: column;
            gap: 0.25em;

            > h3 {
                color: #eeeeee;
            }
            > a {
                text-decoration: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background: $mainPurpleColor;
                padding: 10px;
                border: $mainPurpleColor;
                border-radius: 6px;
                > span {
                    color: #eeeeee;
                    font-weight: 600;
                }
                &:hover {
                    background: darken($mainPurpleColor, 10%);
                }
            }
        }
    }
}

.card-container {
    grid-row: 2/2;
    grid-column: 2/2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.25em;
    overflow-y: auto;
    height: 100%;
    align-content: flex-start;
    padding: 20px;
    > a {
        text-decoration: none;
        > .card {
            height: 300px;
            width: 200px;
            border-radius: 4px;
            transition: all 0.2s ease-in-out;

            > .title {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: rgba(0, 0, 0, 0.7);
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                padding: 4px;
                > span {
                    &:first-child {
                        color: #eeeeee;
                        font-size: 1em;
                        font-weight: 700;
                        max-width: 90%;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                    &:nth-child(2) {
                        height: 16px;
                        width: 16px;
                        border-radius: 50%;

                        &.airing {
                            background: #098b1b;
                            color: #098b1b;
                            border: 1px solid rgba(0, 0, 0, 0.3);
                        }
                        &.ended {
                            background: #8b2e09;
                            color: #8b2e09;
                            border: 1px solid rgba(0, 0, 0, 0.3);
                        }
                    }
                }
            }
            > .info {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 5px;

                > span {
                    border-radius: 4px;
                    background: $mainPurpleColor;
                    padding: 4px;
                    color: #eeeeee;
                    font-weight: 700;
                    font-size: 1em;
                }
            }

            &:hover {
                transform: scale(1.1);
                z-index: 99;
            }
        }
    }
}
